@model IEnumerable<GreenfieldLocalHubWebApp.Models.loyaltyAccount>

@{
    Layout = "~/Views/Shared/_AccountLayout.cshtml";
    ViewData["Title"] = "My Loyalty";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.UserId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.pointsBalance)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.loyaltyTier)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.UserId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.pointsBalance)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.loyaltyTier)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.loyaltyAccountId">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.loyaltyAccountId">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.loyaltyAccountId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
