@model GreenfieldLocalHubWebApp.Models.producers

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>producers</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.UserId)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.UserId)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.producerName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.producerName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.producerEmail)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.producerEmail)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.producerPhone)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.producerPhone)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.producerDescription)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.producerDescription)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.producerLocation)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.producerLocation)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.producerImage)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.producerImage)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.producersId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
